

.esri-view {
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: auto;
  height: calc(100% - 50px);
  margin:0;

}
.title {
  display: flex;
  justify-content: space-between;
}
.title h3 {
  margin-top: 0;
  padding: 0 0.5em 0 0.5em;
  text-align: start;

}

.subtitle {
  white-space: break-spaces;
  font-size: 0.80em;
  text-align: start;
  margin-left: 0.5em;
}
a {
  display: inline;
    padding: 0px;
    border-style: none;
    background-color: transparent;
    position: relative;
    color: var(--calcite-ui-text-1);
    line-height: inherit;
    white-space: initial;
    background-image: linear-gradient(currentColor, currentColor), linear-gradient(var(--calcite-link-blue-underline), var(--calcite-link-blue-underline));
    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 0% 1px, 100% 1px;
    transition: all 0.15s ease-in-out 0s, background-size 0.3s ease-in-out 0s;
}

.message {
  margin: 1em;
  display: inline-flex;
}

.inner {
  padding-top: 4px;
  vertical-align: middle;
}

.completed-icon {
  color: var(--calcite-ui-success);
  margin-right:1em;
}



header {
  display: flex;
}

@import "@arcgis/core/assets/esri/themes/dark/main.css";


